<!DOCTYPE html>
<html>

<head>
    <title>Indie Web Games</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <div class="padding-all">
        <div class="header">
            <h1><img src="./images/5.png" alt=""> Indie Web Games</h1>
        </div>

        <div class="design-w3l">
            <div class="mail-form-agile">
                <form action="#" method="post">
                    <input type="text" name="name" placeholder="Username  or  email..." required />
                    <input type="password" name="password" class="padding" placeholder="Password" required />
                    <input type="submit" value="submit">
                </form>
            </div>
            <div class="clear"> </div>
        </div>

        <div class="footer">

        </div>
    </div>
</body>
</html>