@using IndieWebGamesMVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginStyle.cshtml";
}
<div class="row">
    <div class="col-md-7">
        <div class="padding-all">
                <h1><img src="./images/5.png" alt=""> @ViewBag.Title</h1>
            <br />
            <div class="design-w3l">
                <div class="mail-form-agile">
                    <form action="#" method="post">
                        <input type="text" name="name" placeholder="Username  or  email..." required />
                        <input type="password" name="password" class="padding" placeholder="Password" required />
                        <input type="submit" value="submit">
                    </form>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </div>

    <br />
    <div class="col-md-5">
        <div class="padding-all">
            <h1><img src="./images/5.png" alt=""> Login With:</h1>
            <br />
            <div class="mail-form-agile">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}