body {
    background: url("../images/3.jpg") 0px 0px no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background: none;
    border-color: transparent;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #9d9d9d;
    }

footer {
    color: #9d9d9d;
}

