body {
    background: url("../images/3.jpg") 0px 0px no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-inverse {
    background: none;
    border-color: transparent;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #9d9d9d;
    }

footer {
    color: #9d9d9d;
}

@font-face {
    font-family: "Audiowide-Regular";
    src: url(../fonts/Audiowide-Regular.ttf);
}

@font-face {
    font-family: "Asap-Regular";
    src: url(../fonts/Asap-Regular.ttf);
}

h1 {
    font-size: 50px;
    color: #fff;
    font-family: "Audiowide-Regular";
    letter-spacing: 3px;
    margin: 0 auto;
}

h2 {
    font-size: 44px;
    color: #fff;
    font-family: "Audiowide-Regular";
    letter-spacing: 3px;
    margin: 0 auto;
}

h3 {
    font-size: 30px;
    color: #fff;
    font-family: "Audiowide-Regular";
    letter-spacing: 3px;
    margin: 0 auto;
}

h4 {
    font-size: 25px;
    color: #fff;
    font-family: "Audiowide-Regular";
    letter-spacing: 3px;
    margin: 0 auto;
}

h5 {
    font-size: 20px;
    color: #fff;
    font-family: "Audiowide-Regular";
    letter-spacing: 3px;
    margin: 0 auto;
}

h6 {
    font-size: 10px;
    color: #fff;
    font-family: "Audiowide-Regular";
    letter-spacing: 3px;
    margin: 0 auto;
}


.frame {
    background: #e0e0de;
    height: 350px;
    width: 250px;
    overflow: hidden;
    padding: 0;
    float: right;
}

    .frame > div:last-of-type {
        position: absolute;
        bottom: 5px;
        width: 100%;
        display: flex;
    }

    .frame > ul {
        list-style: none;
        max-height: 265px;
        margin: 0;
        overflow: auto;
        padding: 0;
        text-indent: 10px;
        text-align: right;
    }

        .frame > ul > .list-group-item {
            background-color: transparent;
            border-top: 1px solid white;
        }

.header-tp .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.header-tp .navbar-default {
    background-color: #1DB9EC;
    border-color: transparent !important;
}

.header-tp .bdr li:nth-child(odd) {
    border-left: 1px solid rgba(255, 255, 255, 0.44);
}

.header-tp .bdr li:nth-child(even) {
    border-right: 1px solid rgba(255, 255, 255, 0.44);
    border-left: 1px solid rgba(255, 255, 255, 0.44);
}

.header-tp .bdr li {
    padding: 10px 0px;
}

    .header-tp .bdr li a {
        color: #fff !important;
    }

.header-tp .pddr {
    padding-top: 5px;
}

.header-tp .navbar-right {
    float: right !important;
    margin-right: 30px;
}

.header-tp .nav > li {
    position: relative;
    display: inline-block;
}

.btn-blu {
    display: inline-block;
    padding: 10px 35px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: #0D4459;
    border-color: #0D4459;
    color: #fff;
}

.mrgn-top {
    margin-top: 15px;
    margin-right: 15px;
}

.header-tp {
    margin: 10px 0px;
}

/*######################## LOGIN/SIGNUP PAGE START ##################################*/
.at-login-form .btn-fb {
    display: inline-block;
    padding: 13px 20px;
    margin-top: 10px;
    color: #fff;
}

.at-login-form .btn-gp {
    display: inline-block;
    padding: 13px 20px;
    color: #fff;
}

.at-login-form .btn-lgin {
    font-size: 18px;
    padding: 10px 20px;
    letter-spacing: 1.2px;
    border: none;
    text-transform: capitalize;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #D65B88;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    font-family: "Asap-Regular";
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s;
    width: 100%;
}

    .at-login-form .btn-lgin:hover {
        -webkit-transition-duration: 0.9s;
        transition-duration: 0.9s;
        background: rgba(91, 157, 214, 0.76);
    }

.at-login-form .signup-or-separator {
    background: none;
    height: 34px;
    position: relative;
    text-align: center;
}

.at-login-form .signup-or-separator--text {
    background-color: rgb(7, 63, 68);
    display: inline-block;
    padding: 8px;
}

.at-login-form .h6 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 1.1;
    text-rendering: optimizelegibility;
}

.at-login-form .signup-or-separator hr {
    margin: -25px auto 10px;
    width: 100%;
}

.at-login-form .form-control-form {
    padding: 20px 10px;
    width: 100%;
    font-size: 16px;
    outline: none;
    background: transparent;
    border: 0px;
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    font-family: "Asap-Regular";
    letter-spacing: 1.6px;
    color: #fff;
}


.at-login-form .frgt-pswd {
    margin: 5px 0 10px;
    color: red;
}

.at-login-form .btn-gst {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 6px;
    color: #fff;
}

.at-login-form .ta-l {
    margin-top: 5px;
    color: white;
}


.at-login-form .modal-dialog {
    margin: 30px auto;
}

.at-login-form .modal-content {
    padding: 0px 10px;
    background: rgb(7, 63, 68);
}

.at-login-form .modal-header {
    padding: 10px 10px;
    border-bottom: 0px solid #e5e5e5;
}

.at-login-form .modal-footer {
    padding: 15px;
    text-align: right;
    border: none;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar {
    margin-bottom: 0px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar.active {
        min-width: 110px;
        max-width: 80px;
        text-align: center;
    }

        #sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
            display: none;
        }

        #sidebar.active .sidebar-header strong {
            display: block;
        }

    #sidebar ul li a {
        text-align: left;
    }

    #sidebar.active ul li a {
        padding: 20px 10px;
        text-align: center;
        font-size: 0.85em;
    }

        #sidebar.active ul li a i {
            margin-right: 0;
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
        }

    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    #sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
    }

        #sidebar .sidebar-header strong {
            display: none;
            font-size: 1.8em;
        }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

        #sidebar ul li a i {
            margin-right: 10px;
        }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
}

.square {
    position: relative;
    width: 50%;
}

    .square:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

        #sidebar ul li a span {
            font-size: 0.85em;
        }

        #sidebar ul li a i {
            margin-right: 0;
            display: block;
        }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }

    #sidebar {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
    width:auto;
    height:700px;
}
.full-width {
    float: left;
    width: 100%;
    margin-top: 30px;
    min-height: 100px;
    position: relative;
}

.form-style-fake {
    position: absolute;
    top: 0px;
}

.form-style-base {
    position: absolute;
    top: 0px;
    z-index: 999;
    opacity: 0;
}

.imgCircle {
    border-radius: 50%;
}

.form-control {
    padding: 10px 50px;
}

.form-input {
    height: 50px;
    border-radius: 0px;
    margin-top: 20px;
}

.Profile-input-file {
    height: 210px;
    width: 200px;
    left: 40%;
    position: absolute;
    top: -10px;
    z-index: 999;
    opacity: 0 !important;
}

.mg-auto {
    margin: 0 auto;
    max-width: 200px;
    overflow: hidden;
}

.fake-styled-btn {
    background: #006cad;
    padding: 10px;
    color: #fff;
}

#main-input {
    width: 250px;
}

.input-place {
    position: absolute;
    top: 35px;
    left: 20px;
    font-size: 23px;
    color: gray;
}

.margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-form {
    float: left;
    width: 100%;
    position: relative;
    background: url("http://img.lum.dolimg.com/v1/game_container/img/teaserBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
}

.bg-transparent {
    background: rgba(0,0,0,0.5);
    float: left;
    width: 100%;
    margin-top: 0px;
}


.custom-form {
    border-radius: 20px;
    box-shadow: 0 0 16px #1440bf;
    overflow: hidden;
}

.img-section {
    float: left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(0,0,0,0.7);
    position: relative;
}

    .img-section h4 {
        color: #fff;
    }

.camera {
    font-size: 50px;
    color: #333;
}

.custom-btn {
    margin-top: 15px;
    border-radius: 0px;
    padding: 10px 60px;
    margin-bottom: 15px;
}

#checker {
    opacity: 0;
    position: absolute;
    top: 0px;
    cursor: pointer;
}

.color {
    color: #fff;
}

.form-group{
    padding-top:20px;
}


/*CHAT CSS*/
.message-container, .message-form {
    display: flex;
    border-radius: 2px 2px;
    flex-direction: column;
}

.jumbotron p {
    margin-bottom: 15px;
    font-weight: 200;
}
.message-form {
    flex: 1;
    max-height: 136px;
    background-color: #009688 !important;
}

.message-list {
    flex: 1;
    margin:0;
    height: 400px;
    overflow-y: scroll;
    padding: 0;
    text-indent: 10px;
}


.message-form .input-field input {
    border-color: #FFFFFF;
}

.chip {
    font-style: italic;
}

.mdi-communication-chat {
    color: white;
}

.collection .collection-item:last-child {
    border-bottom: 0.1em solid #DCDCDC;
}
/* -------- Online user list ---------- */

.online-user-list, .online-user-list ul {
    display: flex;
}

.online-user-list {
    flex: 1;
    margin: 0;
    max-height: 65px;
    background-color: #009688 !important;
}

    .online-user-list ul {
        flex: 1;
        flex-direction: row;
        overflow-x: auto;
        flex-wrap: nowrap;
        margin: 0;
    }

    .online-user-list li {
        display: inline-block;
    }

    .online-user-list img {
        margin: 4px;
        width: 50px;
    }

.online-users-number {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

    .online-users-number i {
        font-size: 50px;
    }

.icon-bar {
    width: 90px; /* Set a specific width */
    background-color: #555; /* Dark-grey background */
}

    .icon-bar a {
        display: block; /* Make the links appear below each other instead of side-by-side */
        text-align: center; /* Center-align text */
        padding: 16px; /* Add some padding */
        transition: all 0.3s ease; /* Add transition for hover effects */
        color: white; /* White text color */
        font-size: 36px; /* Increased font-size */
    }

        .icon-bar a:hover {
            background-color: #000; /* Add a hover color */
        }


.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
    font-style: italic;
    margin-top: 10px;
    margin-left:45px;
}

.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}
