@{
    ViewBag.Title = "Home Page";
}

<div class="col-lg-12">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" style="background-color:transparent">
                <center><h1 style="color: white">Indie Web Games</h1></center>
            </div>
        </div>
    </div>

    <div ng-controller="userIconController">
        <img id="userIconShow" src="" />
        <button ng-click="getUserIcon()">Fetch the user image</button>             
        <input id="userIconLoad" type="file" />
        <button ng-click="postUserIcon()">Submit the user image to the API</button>
    </div>

    <div class="row">
        <div class="col-lg-9">

        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 frame" ng-controller="callUsers as user">
            <br />
            <center><h5 style="color:black">Online players</h5></center>
            <br />
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="u in users"><img src="~/images/online2.png" height="10" width="10" class="pull-left" /> {{u.name}}</li>
            </ul>
        </div>
    </div>
</div>

