@{
    ViewBag.Title = "Home Page";
}
<div class="col-lg-12">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" style="background-color:transparent">
                <center><h1 style="color: white">Indie Web Games</h1></center>
            </div>
        </div>
        </div>

    <div class="row">
        <div class="col-lg-9">

        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 frame">
            <br />
            <center><h5 style="color:black">Online players</h5></center>
            <hr />
            <ul>
                <li ng-repeat="u in users">{{u.name}}</li>
            </ul>
        </div>
    </div>
</div>

    