<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class="active">
        <div class="sidebar-header">
            <strong>IWG</strong>
        </div>

        <ul class="list-unstyled components">
            <li ng-class="{active:panel.isSelected(1)}">
                <a ng-click="panel.selectTab(1)">
                    <i class="glyphicon glyphicon-user"></i>
                    Profile
                </a>
            </li>

            <li ng-class="{active:panel.isSelected(2)}">
                <a ng-click="panel.selectTab(2)">
                    <i class="glyphicon glyphicon-search"></i>
                    Search
                </a>

            </li>

            <li ng-class="{active:panel.isSelected(3)}">
                <a ng-click="panel.selectTab(3)">
                    <i class="glyphicon glyphicon-comment"></i>
                    Chat
                </a>
            </li>

            <li ng-class="{active:panel.isSelected(4)}">
                <a ng-click="panel.selectTab(4)">
                    <i class="fa fa-gamepad fa-2x"></i>
                    Games
                </a>
            </li>

            <li ng-class="{active:panel.isSelected(5)}">
                <a ng-click="panel.selectTab(5)">
                    <i class="fa fa-gamepad fa-2x"></i>
                    Creator Portal
                </a>
            </li>
        </ul>
    </nav>
    <!-- Page Content Holder -->
    <div class="container body-content" style="padding:20px;">
        <div class="row">
            <div class="col-lg-12">
                <!--PROFILE PANEL-->
                <div class="jumbotron" ng-show="panel.isSelected(1)">
                    <div class="custom-form">
                        <div class="text-center bg-form">
                            <div class="img-section">
                                <img src="http://robohash.org/users?size=200x200&set=set2" class="imgCircle" alt="Profile picture">
                                <div class="col-lg-12">
                                    <br />
                                    <h5>{{name}}</h5>
                                </div>
                            </div>
                            <input type="file" id="image-input" onchange="readURL(this);" accept="image/*" class="form-control form-input Profile-input-file">
                        </div>
                        <br />

                        <div class="form-group col-sm-12">
                            <textarea class="form-control" rows="3" name="about_me" placeholder="About me"></textarea>
                        </div>

                        <div class="col-lg-12 col-md-12 text-center">
                            <button class="btn btn-info btn-lg custom-btn" id="submit"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                        </div>
                    </div>
                </div>

                <!--SEARCH PANEL-->
                <div class="jumbotron" styel="width:auto; height:600px;" ng-show="panel.isSelected(2)">
                    <h1>THIS IS PANEL 2</h1>
                </div>

                <!--CHAT PANEL-->
                <div class="jumbotron" styel="width:auto; height:600px;" ng-show="panel.isSelected(3)">
                    <div class="custom-form"  ng-controller="chatCtrl">
                        <div class="message-container">
                            <div class="message-list">
                                <div class="online-user-list">
                                    <div class="online-users-number valign-wrapper">
                                        <i class="fa fa-users"></i><span class="valign">{{users.length}} online </span>
                                    </div>
                                </div>

                                <ul class="message-list collection">
                                    <li class="collection-item message-item" ng-repeat="chat in chatMessages">
                                        <strong>{{chat.username}}</strong>
                                        <p>{{chat.date | date:"MM/dd/yyyy 'at' h:mma"}}<br /> {{chat.text}}</p>
                                    </li>
                                </ul>
                                <!--<message-list></message-list>-->
                            </div>

                            <div class="message-form">
                                <form class="container">
                                    <div class="row">
                                        <div class="input-field col s10">
                                            <i class="prefix mdi-communication-chat"></i>
                                            <input ng-model="message.text" type="text" placeholder="Type your message">
                                            <span class="chip left">
                                                <user-avatar uuid="{{uuid}}"></user-avatar>
                                                Anonymous robot #{{uuid}}
                                            </span>
                                        </div>
                                        <div class="input-field col s2">
                                            <button type="submit" ng-click="postMessage()" class="waves-effect waves-light btn-floating btn-large">
                                                <i class="material-icons send"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                   </div>
                </div>

                <div class="jumbotron" styel="width:auto; height:600px;" ng-show="panel.isSelected(4)">
                    <canvas id="gamePlayer" width="200" height="100"></canvas>
                    hello?

                </div>

                <div class="jumbotron" styel="width:auto; height:600px;" ng-show="panel.isSelected(5)">
                    
                    <div ng-controller="creatorController">
                        <div>
                            <input type="text" textread="levelname" placeholder="Level name" />
                            <p>{{levelname}}</p>
                            <br />
                        </div>
                        <br />
                        <div>
                            <span>Background Image</span>
                            <input type="file" fileread="bgimg" />
                            <img src="{{bgimg}}" width="100" height="50" alt="Image preview...">
                            <br />
                            <p>
                                Image dataURI:
                                <pre>{{bgimg}}</pre>
                            </p>
                            <br />
                            <button ng-click="uploadbgimg()">upload background image</button>
                         </div>
                        <br />
                        <div>
                            <span>Background Music</span>
                            <input type="file" fileread="bgm" />
                            <audio src="{{bgm}}"  controls="controls">
                               <source src="{{bgm}}" type="audio/mp3" />
                            </audio>
                            <br />
                            <p>
                                Sound dataURI:
                                <pre>{{bgm}}</pre>
                            </p>
                            <br />
                            <button ng-click="uploadbgm()">upload background music</button>
                        </div>
                    </div>
                                        
                    
                </div>

            </div>
        </div>
    </div>

</div>