<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class="active">
        <div class="sidebar-header">
            <strong>IWG</strong>
        </div>

        <ul class="list-unstyled components">
            <li ng-class="{active:panel.isSelected(1)}">
                <a ng-click="panel.selectTab(1)">
                    <i class="glyphicon glyphicon-user"></i>
                    Profile
                </a>
            </li>

            <li ng-class="{active:panel.isSelected(2)}">
                <a ng-click="panel.selectTab(2)">
                    <i class="glyphicon glyphicon-search"></i>
                    Search
                </a>

            </li>

            <li ng-class="{active:panel.isSelected(3)}">
                <a ng-click="panel.selectTab(3)">
                    <i class="glyphicon glyphicon-comment"></i>
                    Chat
                </a>
            </li>

            <li ng-class="{active:panel.isSelected(4)}">
                <a ng-click="panel.selectTab(4)">
                    <i class="fa fa-gamepad fa-2x"></i>
                    Games
                </a>
            </li>

            <li ng-class="{active:panel.isSelected(5)}">
                <a ng-click="panel.selectTab(5)">
                    <i class="fa fa-wrench fa-2x"></i>
                    Creator Portal
                </a>
            </li>
        </ul>
    </nav>
    <!-- Page Content Holder -->
    <div class="container body-content" style="padding:20px;">
        <div class="row">
            <div class="col-lg-12">

                <!--PROFILE PANEL-->
                <div class="jumbotron" ng-show="panel.isSelected(1)">
                    <div class="custom-form" ng-controller="profileController" ng-init="loadprofile()">
                        <div class="text-center bg-form">
                            <div class="img-section">
                                <img src="{{indieProfile.iconurl}}" width="200" height="200" class="imgCircle" alt="Profile picture">
                                <!--<img src="https://robohash.org/user?set=set2&size=200x200" width="200" height="200" class="imgCircle" alt="Profile picture">-->
                                <div class="col-lg-12">
                                    <br />
                                    <h5>{{username}}</h5>
                                </div>
                            </div>
                            <!--<input type="file" id="image-input" onchange="readURL(this);" accept="image/*" class="form-control form-input Profile-input-file">-->
                            <input type="file" onchange="readURL(this);"  id="image-input" fileread="iconDataUri" accept="image/*" class="form-control form-input Profile-input-file">
                        </div>

                        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <div class="hidden-xs">My Info</div>
                                </button>
                            </div>

                            <div class="btn-group" role="group">
                                <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab">
                                    <span class="fa fa-user-plus" aria-hidden="true"></span>
                                    <div class="hidden-xs">Following</div>
                                </button>
                            </div>
                        </div>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1">
                                    <div class="col-sm-12" style="margin-top:50px;">
                                        <textarea class="form-control" rows="3" name="about_me" placeholder="About me"></textarea>
                                    </div>

                                    <div class="col-lg-12 col-md-12 text-center">
                                        <button class="btn btn-info btn-lg custom-btn" id="submit"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                                        <button ng-click="uploadIcon()" class="btn btn-info btn-lg custom-btn" id="submit"><span class="glyphicon glyphicon-floppy-disk"></span> Upload Image</button>
                                    </div>
                                </div>

                                <div class="tab-pane fade in" id="tab3">
                                    <h3>This is tab 3</h3>
                                </div>
                            </div>
                        <br />
                    </div>
                </div>

                <!--SEARCH PANEL-->

                <div class="jumbotron"  ng-show="panel.isSelected(2)">

                    <h1>THIS IS PANEL 2</h1>
                    <div ng-controller="SearchController" class="bar">
                        <!-- Create a binding between the searchString model and the text field -->
                        <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
                    </div>

                    <ul>
                        <!-- Render a li element for every entry in the items array. Notice
             the custom search filter "searchFor". It takes the value of the
             searchString model as an argument.
         -->
                        <li ng-repeat="i in items | searchFor:searchString">
                            <a href="{{i.url}}"><img ng-src="{{i.image}}" /></a>
                            <p>{{i.title}}</p>
                        </li>
                    </ul>
                    <div/>
                </div>
                </div>

                <!--CHAT PANEL-->
                <div class="jumbotron" ng-show="panel.isSelected(3)">
                    <div class="custom-form" style="height:auto" ng-controller="chatCtrl">
                        <div class="message-container">
                            <div class="online-user-list">
                                <div class="online-users-number valign-wrapper">
                                    <i class="fa fa-comments"></i>
                                        <span style="padding-left:50px">
                                            <h5> Chat with the IWG Community!</h5>
                                        </span>
                                </div>
                            </div>

                            <div>
                                <ul class="message-list collection">
                                    <li class="collection-item message-item" ng-repeat="chat in chatMessages">
                                        <strong>#{{chat.username}}</strong>
                                        <em style="float:right; padding-right:15px;">{{chat.date | date:"MM/dd/yyyy 'at' h:mma"}}</em>
                                        <br /><br /> <p>{{chat.text}}</p>
                                    </li>
                                </ul>
                            </div>

                            <div class="message-form">
                                <form class="container">
                                    <div class="col-lg-12">
                                        <div class="row" style="padding-bottom:10px">
                                            <span class="chip" style="float:left">
                                                #{{username}}
                                            </span>
                                            <div class="col-sm-8" style="padding-top:10px;">
                                                <input class="form-control" ng-model="message.text" type="text" placeholder="Type your message">
                                            </div>

                                            <div class="col-sm-2" style="padding-top:10px;">
                                                <button type="submit" ng-click="postMessage()" class="btn btn-default">
                                                    <i class="fa fa-send"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="jumbotron" ng-show="panel.isSelected(4)">
                    <canvas id="gamePlayer" width="200" height="100"></canvas>
                    hello?

                </div>

                <div class="jumbotron" ng-show="panel.isSelected(5)">
                    <div ng-controller="creatorController">
                        <div>
                            <input type="text" textread="levelname" placeholder="Level name" />
                            <p>{{levelname}}</p>
                            <br />
                        </div>
                        <br />
                        <div>
                            <span>Background Image</span>
                            <input type="file" fileread="bgimg" />
                            <img src="{{bgimg}}" width="100" height="50" alt="Image preview...">
                            <button ng-click="uploadbgimg()">upload background image</button>
                        </div>
                        <br />
                        <br />
                        <div>
                            <span>Background Music</span>
                            <input type="file" fileread="bgm" />
                            <audio src="{{bgm}}" controls="controls" controlsList="nodownload">
                                <source src="{{bgm}}" type="audio/mp3" />
                            </audio>

                            <button ng-click="uploadbgm()">upload background music</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function () {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below 
            $(this).removeClass("btn-default").addClass("btn-primary");
        });
    });
</script>