<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class="active">
        <div class="sidebar-header">
            <strong>IWG</strong>
        </div>

        <ul class="list-unstyled components">
            <li ng-class="{active:panel.isSelected(1)}">
                <a ng-click="panel.selectTab(1)">
                    <i class="glyphicon glyphicon-user"></i>
                    Profile
                </a>
            </li>

            <li ng-class="{active:panel.isSelected(2)}">
                <a ng-click="panel.selectTab(2)">
                    <i class="glyphicon glyphicon-search"></i>
                    Search
                </a>

            </li>

            <li ng-class="{active:panel.isSelected(3)}">
                <a ng-click="panel.selectTab(3)">
                    <i class="glyphicon glyphicon-comment"></i>
                    Chat
                </a>
            </li>

            <li ng-class="{active:panel.isSelected(4)}">
                <a ng-click="panel.selectTab(4)">
                    <i class="fa fa-gamepad fa-2x"></i>
                    Games
                </a>
            </li>

            <li ng-class="{active:panel.isSelected(5)}">
                <a ng-click="panel.selectTab(5)">
                    <i class="fa fa-wrench fa-2x"></i>
                    Creator Portal
                </a>
            </li>
        </ul>
    </nav>
    <!-- Page Content Holder -->
    <div class="container body-content" style="padding:20px;">
        <div class="row">
            <div class="col-lg-12">

                <!--PROFILE PANEL-->
                <div class="jumbotron" ng-show="panel.isSelected(1)">
                    <div class="custom-form" ng-controller="profileController" ng-init="loadprofile()">
                        <div class="text-center bg-form">
                            <div class="img-section">
                                <img id="profilepic" src="{{indieProfile.iconurl}}" width="150" height="150" class="imgCircle" alt="Profile picture">
                                <div class="col-lg-12">
                                    <br />
                                    <h5>{{username}}</h5>
                                </div>
                            </div>

                            <input type="file" id="image-input" fileread="iconDataUri" accept="image/*" class="form-control form-input Profile-input-file">
                        </div>
                        <br />

                        <div class="form-group col-sm-12">
                            <textarea class="form-control" rows="3" textread="bio" ng-model="bio" name="about_me" placeholder="About me">{{bio}}</textarea>
                        </div>

                        <div class="col-lg-12 col-md-12 text-center">
                            <button ng-click="saveProfile()" class="btn btn-info btn-lg custom-btn" id="submit"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                            <button ng-click="uploadIcon()" class="btn btn-info btn-lg custom-btn" id="submit"><span class="glyphicon glyphicon-floppy-disk"></span> Upload Image</button>
                        </div>
                    </div>
                </div>

                <!--SEARCH PANEL-->
                <div class="jumbotron"  ng-show="panel.isSelected(2)">
                    <div ng-controller="SearchController" class="bar">
                        <div class="custom-form" style="height:500px;">
                            <input type="text" class="form-control search center-block" ng-keyup="callRestService()" textread="search" ng-model="search" placeholder="Enter your search terms" />                           

                            <ul class="list-group" style="margin-top:15px">
                                <li class="list-group-item" ng-repeat="indieprofile in searchresults.indiePlayerProfile">
                                    <div class="col-xs-12 col-sm-3">
                                        <img src="{{indieprofile.iconurl}}" width="60" height="60" alt="{{indieprofile.username}}" class="img-responsive img-circle" />
                                    </div>
                                    <div class="col-xs-12 col-sm-9">
                                        <strong>{{indieprofile.username}}</strong><br />
                                        <span>{{indieprofile.levels}}</span><br />
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--CHAT PANEL-->
                <div class="jumbotron" ng-show="panel.isSelected(3)">
                    <div class="custom-form" ng-controller="chatCtrl">
                        
                        <div class="message-container">
                            
                            <div class="online-user-list">
                                <h5 style="padding-left:60px">Chat with the IWG Community!</h5>
                                <div class="online-users-number valign-wrapper">
                                    <i class="fa fa-comments"></i>
                                        
                                </div>
                            </div>

                            <div>
                                <ul class="message-list collection">
                                    <li class="collection-item message-item" ng-repeat="chat in chatMessages">
                                        <strong>#{{chat.username}}</strong>
                                        <em style="float:right; padding-right:15px;">{{chat.date | date:"MM/dd/yyyy 'at' h:mma"}}</em>
                                        <br /><br /> <p>{{chat.text}}</p>
                                    </li>
                                </ul>
                            </div>

                            <div class="message-form">
                                <form class="container">
                                    <div class="col-lg-12">
                                        <div class="row" style="padding-bottom:10px">
                                            <span class="chip" style="float:left">
                                                #{{username}}
                                            </span>
                                            <div class="col-sm-8" style="padding-top:10px;">
                                                <input class="form-control" ng-model="message.text" type="text" placeholder="Type your message">
                                            </div>

                                            <div class="col-sm-2" style="padding-top:10px;">
                                                <button type="submit" ng-click="postMessage()" class="btn btn-default">
                                                    <i class="fa fa-send"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="jumbotron" ng-show="panel.isSelected(4)">
                    <canvas id="gamePlayer" width="200" height="100"></canvas>
                    hello?

                </div>

                <div class="jumbotron" ng-show="panel.isSelected(5)">
                    <div ng-controller="creatorController">
                        <div>
                            <input type="text" textread="levelname" placeholder="Level name" />
                            <p>{{levelname}}</p>
                            <br />
                        </div>
                        <br />
                        <div>
                            <span>Background Image</span>
                            <input type="file" fileread="bgimg" />
                            <img src="{{bgimg}}" width="100" height="50" alt="Image preview...">
                            <button ng-click="uploadbgimg()">upload background image</button>
                        </div>
                        <br />
                        <br />
                        <div>
                            <span>Background Music</span>
                            <input type="file" fileread="bgm" />
                            <audio src="{{bgm}}" controls="controls" controlsList="nodownload">
                                <source src="{{bgm}}" type="audio/mp3" />
                            </audio>

                            <button ng-click="uploadbgm()">upload background music</button>
                        </div>
                        <button ng-click="postLevel()">Submit the level</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>